__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.log
**/laboneq_output/
experiments/qm_exp/QM\ software/qop-server-1.30.2133.qmpkg
experiments/qm_exp/QM\ software/qmapp/QM\ Quantum\ Orchestration\ Platform.exe
*$py.class
local_PC/